body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #8271c1;
  padding: 22px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  background-color: #a786de;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.7s ease;
  flex: 0.08; /* Faz os botões terem o mesmo tamanho */
  text-align: center;
}

.navbar a:hover {
  background-color: #f3f8ff;
  color: #8271c1;
}

/* SideBar */

.svg-icon-sidebar {
  display: flex;
  margin-top: 12px;
  justify-content: flex-end;
  margin-right: -16px;
}

.sidebar {
  background-color: #8271c1;
  font-size: 0.65em;
  height: 100%;
  position: fixed;
  left: -178px; /* Esconde o menu fora da tela inicialmente */
  transition: left 0.8s ease;
}

.sidebar.open {
  left: 0; /* Mostra o menu quando a classe 'open' é adicionada */
}

.nav {
  position: relative;
  margin: 0 32px;
  text-align: right;
  font-weight: bold;
}

.nav li { /* Essa é a Nav lateral*/
  width: 100%;
  
}

.nav li::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 0.2em;
  left: 0;
  bottom: 0;
  background-color: rgba(50, 51, 48, 0.5);
}

.nav ul {
  list-style: none;
}

.nav ul li {
  position: relative;
  margin-top: 20px;
}

.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: rgba(50, 51, 48, 0.5);
}

.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(50, 51, 48, 0.35);
  display: block;
  transition: all ease-out 300ms;
}

.nav ul li.active a {
  color: #323330;
}

.nav ul li:not(.active)::after {
  opacity: 0.2;
}

.nav ul li:not(.active):hover a {
  color: rgba(50, 51, 48, 0.75);
}

.sections {
  position: relative;
  width: 75%;
  float: right;
}

.sections .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sections a {
  position: relative;
}

.sections img {
  width: 48px;
  height: 48px;
}

.sections p {
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-top: 30px;
}

.title {
  text-align: center;
  margin-right: 200px;
  margin-top: 60px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Poppins";
  text-transform: initial;
  color: #323330;
}

.sub-title {
  color: #323330;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 700;
}

.texto-info {
  text-align: justify;
  margin-right: 200px;
  font-family: "Poppins";
  font-size: 16px;
}

strong {
  color: #8271c1;
}

#img-exemplo-js, #img-event-js {
  border-radius: 10px;
}
  /* height: 100vh; NÃO REMOVER*/

  a {
    position: relative;

    img {
      width: 48px;
      height: 48px;
    }
  }

  p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    /* color: #fff; */
    font-weight: bold;
    margin-top: 20px;
  }
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
