/* Reset */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #8271c1;
  padding: 22px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  background-color: #a786de;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.7s ease;
  flex: 0.08;
  text-align: center;
}

.navbar a:hover {
  background-color: #f3f8ff;
  color: #8a6ab8;
}

/* Sidebar */
.sidebar {
  background-color: #8271c1;
  position: fixed;
  width: 200px;
  height: 100%;
  left: -200px;
  transition: left 0.8s ease;
  padding-top: 20px;
}

.sidebar.open {
  left: 0;
}

.svg-icon-sidebar {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-bottom: 20px;
}

.nav {
  text-align: right;
  font-weight: bold;
  padding-right: 15px;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  margin: 20px 0;
}

.nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  display: block;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav li.active a,
.nav li:hover a {
  color: #f3f8ff;
}

.nav li::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
  opacity: 0.5;
}

/* Container */
.container {
  margin: 60px;
  text-align: center;
}

.container p {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.container button {
  background-color: #a786de;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #f3f8ff;
  color: #8a6ab8;
}
