body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #8271c1;
  padding: 22px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  background-color: #a786de;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.7s ease;
  flex: 0.08;
  text-align: center;
}

.navbar a:hover {
  background-color: #f3f8ff;
  color: #8a6ab8;
}

/* Sidebar */
.svg-icon-sidebar {
  display: flex;
  margin-top: 12px;
  justify-content: flex-end;
  margin-right: -16px;
}

.sidebar {
  background-color: #8271c1;
  font-size: 0.65em;
  height: 100%;
  position: fixed;
  left: -142px;
  transition: left 0.8s ease;
}

.sidebar.open {
  left: 0;
}

.nav {
  position: relative;
  margin: 0 32px;
  text-align: right;
  font-weight: bold;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  position: relative;
  margin-top: 20px;
}

.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
}

.nav ul li.active a {
  color: white;
}

.nav ul li:not(.active)::after {
  opacity: 0.2;
}

.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}

/* Main Content */
.sections {
  width: 60%;
  min-height: 100vh;
  margin: 0 auto;
}

#title {
  text-align: center;
  margin-top: 60px;
  font-weight: 600;
  font-size: 20px;
  color: #8271c1;
}

.section-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}

.sub-title {
  color: #8271c1;
  font-size: 16px;
  font-weight: 700;
  margin-top: 60px;
}

.texto-info {
  text-align: justify;
  margin: 20px 0;
  font-size: 16px;
}

.container {
  display: grid;
  place-items: center;
  padding: 0 250px;
}

/* Display Example */
.display-example {
  display: flex; 
  justify-content: center;
  align-items: center; 
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #8271c1;
  border-radius: 15px;
  background-color: #f4f3fb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  overflow-x: auto;
  padding-left: 35px;
}


code {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #f4f3fb;
  padding: 4px 8px;
  border-radius: 4px;
}

strong {
  color: #8a6ab8;
}

.line {
  border: 1px solid #5e42a6;
  width: 50%;
  margin: 25px auto 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-bottom: 50px; 
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}

table thead tr {
  border-bottom: 2px solid #000;
}
